/AlterAddCol.class
/AlterDropCol.class
/CreateDB.class
/CreateTable.class
/Delete.class
/DescribeTable.class
/DropDB.class
/DropTable.class
/Insert.class
/Select.class
/ShowTables.class
/SingleQuery.class
/SupportedQueries.class
/Update.class
/Use.class
