/update.class
/Select.class
/ParserFiltrer.class
/ParserFactory.class
/Parser.class
/Insert.class
/DropTable.class
/DropDB.class
/Delete.class
/CreateTabe.class
/CreateTable.class
/CreateDB.class
/Adapter.class
/CasesofQuery.class
/DatabaseCreation.class
/TableCreation.class
/DropDataBase.class
/ParsingCases.class
/MyParser.class
/InserttoTable.class
/SelectFromTable.class
/UpdateTable.class
/DeleteFromTable.class
/IParser.class
/CreateDatabase.class
/DropDatabase.class
/ParserFilter.class
/Update.class
